body {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #353535;
  /* два фона: первый — 1.png, второй — 2.png */
  background-image: url('img/1.png'), url('img/2.png'), url('img/3.png'), url('img/5.png'), url('img/6.png');

  /* Одинаково для каждого фонового слоя: 
     первый — right top, 
     второй — left bottom */
  background-position: right top, left bottom, top left, top center, bottom center;

  /* Не повторять ни один из фонов */
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

  /* Размеры: первый — auto, второй — contain */
  background-size: auto, auto, auto, auto, auto;
}

.title_text{
  color: #ffffff;

  /* text-align: right; */
  font-family: 'Bounded', sans-serif;
  font-size: 18px;
  text-shadow:
  5px 5px 5px rgba(0, 0, 0, 0.7),
 -1px -1px 2px rgba(0, 0, 0, 0.3);
}

/* canvas {
  border: 1px solid #ff3f3f;
} */
#coordinates-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Выровнять всё содержимое формы по правому краю */
  gap: 10px;
}

.form-row {
  display: flex;
  justify-content: flex-end; /* Выровнять содержимое строки по правому краю */
  gap: 10px;
  width: 100%;
}

label {
  color: #ffffff;
  flex: 1;
  text-align: right;
  font-family: 'Bounded', sans-serif;
  font-size: 10px;
}

input {
  padding: 3px;
  color: #ffffff;
  width: 97px;
  height: 17px;
  border-radius: 20px;
  border: none;
  font-family: 'Bounded', sans-serif;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.107);
}
input[type="text"] {
  /* Внешняя и внутренняя тень */
  box-shadow:
    8px 8px 8px rgba(0, 0, 0, 0.2),       /* внешняя */
    inset 5px 5px 5px rgba(0, 0, 0, 0.2);  /* внутренняя */
  
  transition: box-shadow 0.3s ease;
}

/* При фокусе — сделать тень ярче */
input[type="text"]:focus {
  box-shadow:
    0 0 8px rgba(0, 0, 0, 0.5),
    inset 0 0 6px rgba(0, 0, 0, 0.15);
  outline: none;
  border-color: #000000;
}
button {
  color: #353535;
  align-self: flex-end;
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 255, 255, 0.3);
  font-family: 'Bounded', sans-serif;
  font-size: 10px;
   /* Внешняя и внутренняя тень */
   box-shadow:
   8px 8px 8px rgba(0, 0, 0, 0.2);      /* внешняя */
 
 transition: box-shadow 0.3s ease;

}
#result {
  top: 20px;
  left: 20px;
  color: white;
  font-size: 16px;
  font-family: 'Bounded', sans-serif;
}